version: '3.8'

services:
  cockpit:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cockpit
    ports:
      - "8080:80"
    volumes:
      - cockpit-data:/var/www/html/cockpit-core/storage
    restart: unless-stopped
volumes:
  cockpit-data:
